[submodule "Docs/Papers/MatchingAlgorithmsBenchmark-paper"]
	path = Docs/Papers/MatchingAlgorithmsBenchmark-paper
	url = git@github.com:JusteRaimbault/MatchingAlgorithmsBenchmark-paper.git
[submodule "Models/MetadataPlugin/MetadataPlugin"]
	path = Models/MetadataPlugin/MetadataPlugin
	url = git@github.com:subdense/MetadataPlugin.git
[submodule "Models/dashboard"]
	path = Models/dashboard
	url = git@github.com:subdense/dashboard.git
[submodule "Docs/Posters/JR-IGN-2023-PosterSubdense"]
	path = Docs/Posters/JR-IGN-2023-PosterSubdense
	url = git@github.com:subdense/JR-IGN-2023-PosterSubdense.git
[submodule "Models/Matching/geoxygene"]
	path = Models/Matching/geoxygene
	url = git@github.com:IGNF/geoxygene.git
[submodule "Models/Matching/matching"]
	path = Models/Matching/matching
	url = git@github.com:subdense/matching.git
[submodule "Models/Matching/Validation/test-git-javascript"]
	path = Models/Matching/Validation/test-git-javascript
	url = git@github.com:subdense/test-git-javascript.git
[submodule "Docs/Communications/2024/MatchingBenchmark-FRCCS2024"]
	path = Docs/Papers/2024/MatchingBenchmark-FRCCS2024
	url = git@github.com:JusteRaimbault/MatchingBenchmark-FRCCS2024.git
[submodule "Docs/Communications/2024/CCS2024/CCS2024_Matching"]
	path = Docs/Communications/2024/CCS2024/CCS2024_Matching
	url = git@github.com:JusteRaimbault/CCS2024_Matching.git
[submodule "Models/Matching/Validation/MatchingValidationSampling"]
	path = Models/Matching/Validation/MatchingValidationSampling
	url = git@github.com:subdense/MatchingValidationSampling.git
[submodule "Models/Matching/pymatch"]
	path = Models/Matching/pymatch
	url = git@github.com:umrlastig/pymatch.git
[submodule "Models/Statistics/DensificationDrivers"]
	path = Models/Statistics/DensificationDrivers
	url = git@github.com:subdense/DensificationDrivers.git
[submodule "Docs/Communications/2024/AGILE2024-Subdense"]
	path = Docs/Communications/2024/AGILE2024-Subdense
	url = git@github.com:JusteRaimbault/AGILE2024-Subdense.git
[submodule "Docs/Communications/2024/Subdense-Poster-AGILE2024"]
	path = Docs/Communications/2024/Subdense-Poster-AGILE2024
	url = git@github.com:subdense/Subdense-Poster-AGILE2024.git
[submodule "Models/Matching/projetAppariement"]
	path = Models/Matching/projetAppariement
	url = https://github.com/paulguardiola/projetAppariement.git
[submodule "Docs/Misc/PostDoc-SUBDENSE-LASTIG"]
	path = Docs/Misc/PostDoc-SUBDENSE-LASTIG
	url = git@github.com:subdense/PostDoc-SUBDENSE-LASTIG.git
[submodule "Models/ABMDensification"]
	path = Models/ABMDensification
	url = git@github.com:subdense/ABMDensification.git
[submodule "Docs/Communications/2025/CCS2025/CCS25-Abstract-Annotator"]
	path = Docs/Communications/2025/CCS2025/CCS25-Abstract-Annotator
	url = git@github.com:subdense/CCS25-Abstract-Annotator.git
[submodule "Docs/Papers/DensificationDrivers-paper"]
	path = Docs/Papers/DensificationDrivers-paper
	url = git@github.com:subdense/DensificationDrivers-paper.git
[submodule "Models/Statistics/drivers_leaflet"]
	path = Models/Statistics/drivers_leaflet
	url = git@github.com:subdense/drivers_leaflet.git
[submodule "Models/Matching/Validation/annotate"]
	path = Models/Matching/Validation/annotate
	url = git@github.com:subdense/annotate.git
